<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939979266305-7nvuiaa18a2ph4uogcnd47t5lq6jgqpq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939979266305-7nvuiaa18a2ph4uogcnd47t5lq6jgqpq</string>
	<key>API_KEY</key>
	<string>AIzaSyDnvj8mwSx3dUzGeG2rGoGACMYpiQHW9mk</string>
	<key>GCM_SENDER_ID</key>
	<string>939979266305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stefandojcinovic.InstagramApp</string>
	<key>PROJECT_ID</key>
	<string>instagramapp-e6179</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramapp-e6179.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939979266305:ios:25d8ffe811b71e96936300</string>
</dict>
</plist>